*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container{
  display: flex;
  justify-content: space-around;
  background-color: rgb(14, 5, 54);
  color: white;
  padding: 20px;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
}

.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
 a{
  color: white !important;
  text-decoration: none !important;
} 

.desktop-menu{
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.menu-div{
  width: 70%;
  margin:0 20px;
  
}

select{
  width: 100%;
  border: none;
  padding: 7px 45px;
  border-radius: 5px;
}

select{
  font-weight: bold;
  color: rgb(64, 30, 216);
}
.card-container,.cart-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
background:rgb(182, 167, 240);
}

.card-item{
  max-width: 400px;
  min-height: 400px;
  background-color: white;
  border: 2px solid rgb(163, 154, 154);
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
   justify-content: center; 
   align-items: center;
   
 
}
.card-image{
  width: 70%;
  height: 70%;
  margin-top: 20px;
}
.card-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
} 

.card-title h4{
  color: rgb(55, 0, 255);
  text-align: center;
 margin: 20px 10px;
}

.card-description p
{
  text-align: center!important;
  margin: 20px !important;
}

.card-rate-price{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.not-found{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

  

.cart-icon{
  width: 10px;
  height: 10px;
  align-self: flex-start;
  position: relative;
  font-size: large;
}

.cart-item-count{
  width: 10px;
  height: 10px;
  z-index: 1;
  margin-left: 10px;
    margin-bottom: -3px;
    position: relative;
    color:white;
    font-weight: bold;
}

.cart{
  /* margin-right: 10px; */
  width: 7%;
  margin-bottom: 23px 
}

.add-to-cart{
  border-radius: 100px solid black;
}
.cart-items-price{
  display: flex;
  justify-content: space-around;
  
  width: 100%;
 background-color: rgb(109, 125, 212);
  flex-wrap: wrap;
}
.total-price{
  width: 40%;
  text-align: center;
  color: white;
  background-color: rgb(243, 15, 121);

  border: 2px solid rgb(133, 3, 46);
  border-radius: 10px;
margin: 10px 0; 
  padding:10px;
}

.total-items{
  width: 40%;
  text-align: center;
  color: white;
  background-color: rgb(243, 15, 121);

  border: 2px solid rgb(133, 3, 46);
  padding:10px;
  border-radius: 10px;
   margin: 10px 0; 
}

.product-item-details{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.product-image{
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
} 

.category{
  color: rgb(247, 2, 84);
}

.load-class{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  align-items: center;
}

.hamburger-icon{
  display: none;
}

.hamburger-icon-close{
  display: none; /* Hide the hamburger icon by default */
}

.mobile-menu{
  display: none;
}




@media (max-width:1165px) {

  .navbar-container{
    justify-content: space-between;
  }
 
 

 .mobile-navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 5, 54);
  color: white;
  padding: 20px;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
 }

  .desktop-menu{
    display: none;
  }

  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    
  }

  .menu-div{
    width: 90%;
    margin:20px;
    
  }

  .hamburger-icon{
    display: flex;
   
  }

  .hamburger-icon-close{
    display: flex;
    position: absolute; /* Position the icon */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
  }
}